<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>問題</title>
</head>
<body>
    <p>あなたは<%= score %>点でした．</p>
    <p>正解の選択肢は，</p>
    <p>・綺羅星のごとく（きらほしのごとく）</p>
    <p>・十指に余る（じっしにあまる）</p>
    <p>・声を荒らげる（こえをあららげる）</p>
    <p>以上の3つです</p>
</body>
</html>